// Import files

@import 'base/wordpress-theme';

// Helpers
@import 'helpers/variables';
@import 'helpers/mixins';

// Base
@import 'base/reset';
@import 'base/typography';
@import 'base/general';

// Layout
@import 'layout/header';
@import 'layout/nav';
@import 'layout/footer';

// Components
@import 'components/buttons';
@import 'components/slider';
@import 'components/dividers';

// Pages
@import 'pages/home';
@import 'pages/products';
@import 'pages/sillones';

// Responsive
@import 'layout/responsive';