// Header
#main-header{
	background: 		$main-color;
	background:			rgba(255,255,255, 0.8);
	padding:			5px 0;
	padding-bottom:		15px;
	position:			fixed;
	z-index:			91;
	width:				100%;
	.main-width{
		text-align:		center;
		overflow: 		hidden;
	}
	h1{
		display: inline-block;
		p{
			margin-bottom: $margin;
		}
		a{
			background: url(images/logo-soffah.png) no-repeat;
			background-size: 100% auto;
			width: 130px; // 205px
			height: 54px; //85
			text-indent: -99999px;
			display: inline-block;
		}
	}
	.contact-us{
		text-align: 			right;
		float: 					right;
		p{
			text-transform: 	uppercase;
		}
	}
}