//  Buttons

.social{
	margin-bottom:			$margin;
	a{
		width: 				25px;
		height: 			25px;
		display: 			inline-block;
		background-size:	100% auto;
		text-indent: 		999999px;
	}
	a.facebook{
		background:			url(images/icon-facebook.png);
	}
	a.instagram{
		background:			url(images/icon-instagram.png);
	}
}
.btn-scroll{
	color:					$main-color;
	text-transform:			uppercase;
	background:				url(images/icon-scroll.png) no-repeat;
	background-position:	50% 30px;
	display:				inline-block;
	height:					70px;
	&:hover{
		color:				$main-color;
	}
}
.btn-close{
	color:					$main-color;
	text-transform:			uppercase;
	background:				url(images/icon-close.png) no-repeat;
	background-position:	100% 50%;
	background-size:		26% auto;
	display:				inline-block;
	line-height:			30px;
	padding-right:			30px;
	&:hover{
		color:				$main-color;
	}
}